
@{
    ViewBag.Title = "TransactionHistory";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>TransactionHistory</h2>


<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
<script>
    $(document).ready(function () {

        $(function () {
            var table = $('#mytraintable').dataTable({
                "pageLength": 50,
                "proccessing": true,
                "serverSide": true,
                "ajax": {
                    url: "@Url.Action("GetBookedTicket", "Railway")",
                    type: 'POST'
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                "columns": [

                    { "data": "Train_ID" },
                    { "data": "PNR" },
                    { "data": "Source" },
                    { "data": "Destination" },
                    { "data": "ReservationStatus" },
                    { "data": "JourneyDate" },

                    {
                        "data": "",
                        render: function (data, type, row) {
                            return '<a href="#" data-toggle="modal" data-target="#myModal" id="Edit" onclick="Edit(' + row.PNR + ')">View Ticket</a> &nbsp <a href="#" data-toggle="modal" data-target="#myModal" id="Delete" onclick="Delete(' + row.PNR + ')">Cancel Ticket</a>';

                        }
                    },
                ]
            });
        });
    });



    function Edit(id) {
        debugger
        $.ajax({
            url: '@Url.Action("GetTrainDetail", "Railway")',
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            data: { Train_ID: id },
            dataType: "json",
            success: function (result) {
                $('#TrainID').val(result[0].TrainID)
                $('#Trainname').val(result[0].Train_name)
                $('#Source_ID').val(result[0].Source_stn)
                $('#Destination_ID').val(result[0].Destination_stn)
                $('#ddltraintype').val(result[0].Train_type)
                $('#TrainID').val(result[0].Train_ID)
                $('#fare1').val(result[0].Fare_Class1)
                $('#fare2').val(result[0].Fare_Class2)
                $('#fare3').val(result[0].Fare_Class3)
                $('#totalseat').val(result[0].Seat_Class1)
                $('#totalseat2').val(result[0].Seat_Class2)
                $('#totalseat3').val(result[0].Seat_Class3)
                $('#myModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

</script>



<div class="row m-0">
    <div class="col-12 mt-3">
        <div id="trainsearchdiv">
            @*<table class="table table-sm  fz12">*@
            <table id="mytraintable" class="table table-striped table-bordered" style="width:100%">
                <thead class="text-uppercase">
                    <tr>
                        <th scope="col">Train ID</th>
                        <th scope="col">PNR</th>                       
                        <th scope="col">Source Station</th>
                        <th scope="col">Destination Station</th>
                        <th scope="col">Status</th>
                        <th scope="col">Booked Date</th>                       
                        <th scope="col">Action </th>
                    </tr>
                </thead>
                <tbody class="tbody"></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-right:100%">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dissmiss="modal"><span aria-hidden="true">×</span></button>*@
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Cancel Ticket</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="TrainID"><span class="req">* </span> Train ID: </label>
                            <input class="form-control" type="number" name="TrainID" id="TrainID" onkeyup="Validate(this)" required placeholder="TrainID" />
                            <div id="errFirst"></div>
                        </div>
                        <div class="form-group">
                            <label for="Trainname"><span class="req">* </span> Train name: </label>
                            <input class="form-control" type="text" name="Trainname" id="Trainname" onkeyup="Validate(this)" placeholder="TrainName" required />
                            <div id="errLast"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="source"><span class="req">* </span> Source Station: </label>
                            @* @Html.DropDownList("Source_ID", ViewBag.Station as SelectList, new { @class = "form-control" })*@
                            <input class="form-control" type="text" name="Source_ID" id="Source_ID" onkeyup="Validate(this)" placeholder="TrainName" readonly />

                            <div id="errLast"></div>

                        </div>
                        <div class="form-group">
                            <label for="source"><span class="req">* </span> Destination Station: </label>
                            @*@Html.DropDownList("Destination_ID", ViewBag.Station as SelectList, new { @class = "form-control" })*@
                            <input class="form-control" type="text" name="Destination_ID" id="Destination_ID" onkeyup="Validate(this)" readonly />
                            <div id="errLast"></div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="lastname"><span class="req">* </span> Train Type: </label>
                            <select class="form-control" name="ddltraintype">
                                <option value="Express">Express</option>
                                <option value="SuperFast">Super Fast</option>
                                <option value="Local">Local</option>
                            </select>
                            <div id="errLast"></div>
                        </div>
                        <div class="form-group">
                            <div><label for="lastname"><span class="req">* </span> Available Days: </label></div>
                            <div>
                                @Html.CheckBox("Monday")
                                <label for="coding">Monday</label>
                                @Html.CheckBox("Tuesday")
                                <label for="music">Tuesday</label>
                            </div>
                            <div>
                                @Html.CheckBox("Wednesday")
                                <label for="music">Wednesday</label>
                                @Html.CheckBox("Thursday")
                                <label for="music">Thursday</label>
                                @Html.CheckBox("Friday")
                                <label for="music">Friday</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="font-weight:200">
                        <div class="form-group">
                            <table class="table table-sm  fz12" style="width:60%">
                                <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col" style="width: 296px;"><strong>Class</strong></th>
                                        <th scope="col" style="width: 520px;"><strong>Fare</strong></th>
                                        <th scope="col" style="width: 520px;"><strong>Total Seat</strong> </th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width: 296px;">
                                            First Class
                                        </td>
                                        <td style="width: 520px;">
                                            <input class="form-control" type="text" name="fare1" id="fare1" onkeyup="Validate(this)" placeholder="" required />
                                        </td>
                                        <td style="width: 520px;">
                                            <input class="form-control" type="text" name="totalseat" id="totalseat" onkeyup="Validate(this)" placeholder="" required />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 296px;">
                                            Second Class
                                        </td>
                                        <td style="width: 520px;">
                                            <input class="form-control" type="text" name="fare2" id="fare2" onkeyup="Validate(this)" placeholder="" required />
                                        </td>
                                        <td style="width: 520px;">
                                            <input class="form-control" type="text" name="totalseat2" id="totalseat2" onkeyup="Validate(this)" placeholder="" required />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 296px;">
                                            Third Class
                                        </td>
                                        <td style="width: 520px;">
                                            <input class="form-control" type="text" name="fare3" id="fare3" onkeyup="Validate(this)" placeholder="" required />
                                        </td>
                                        <td style="width: 520px;">
                                            <input class="form-control" type="text" name="totalseat3" id="totalseat3" onkeyup="Validate(this)" placeholder="" required />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>







